
nav {
    display: flex ;
    justify-content: center;
    background-color: bisque;
}

li{
    list-style: none ;
    padding : 20px;
    color : blueviolet ;
}

li a {
    text-decoration: none;
}

.active{
    border-bottom: 3px solid red ;
}