
.Greet {
    color : #707070;
    border-radius: 25px;
    border : 1px solid #707070;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin : 10px ;
    margin-top : 20px;
    margin-left : 25%; 
    width : 50% ;
    padding : 20px ;
    text-align: center;

}